<li class="nav-header">
    <div class="dropdown profile-element"> <span>
        <img alt="..." class="img-circle" src="/static/new/img/profile_small.jpg" />
         </span>
{#        <a data-toggle="dropdown" class="dropdown-toggle" href="/accounts/password/"> close href#}
        <a class="dropdown-toggle" href="/accounts/password/">
        <span class="clear">
            <span class="block m-t-xs">
                <strong class="font-bold">
                {% if request.user.first_name %}
                欢迎， {{  request.user.first_name }}
                {% else %}
                欢迎， {{  request.user.username }}
                {% endif %}
                </strong>
             </span>
        </span>
        <span class="text-muted text-xs block">运维管理系统</span>
{#        <span class="text-muted text-xs block">profile <b class="caret"></b> </span>#}
        </a>
{#        <ul class="dropdown-menu animated fadeInRight m-t-xs">#}
{#            <li><a href="profile.html">Profile</a></li>#}
{#            <li><a href="contacts.html">Contacts</a></li>#}
{#            <li><a href="mailbox.html">Mailbox</a></li>#}
{#            <li class="divider"></li>#}
{#            <li><a href="/accounts/loginout/">Logout</a></li>#}
{#        </ul>#}

{#        <a href="/accounts/loginout/"><strong>退出</strong></a>#}
    </div>
    <div class="logo-element">
        Fun
    </div>
</li>
